<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create-new-major</title>
</head>
<body>
<h1 th:text="'Create New Major'"></h1>

<form action="#" th:action="@{/saveStudent}" th:object="${students}"
      method="post">

    <table border="0" cellpadding="10">
<!--        <tr>-->
<!--            <td>Student ID:</td>-->
<!--            <td><input type="text" th:field="*{id}"disabled /></td>-->
<!--        </tr>-->
        <tr>
            <td>Student FirstName:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Student LastName:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Student Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Student Age:</td>
            <td><input type="text" th:field="*{age}"/></td>
        </tr>
        <tr>
            <td>Major Name:</td>

            <td>
                <select th:field="*{major}">
                    <option th:each="major: ${majorList}" th:value="${major.id}" th:text="${major.nameMajor}">
                    </option>
                </select>
            </td>

        </tr>

        <tr>
            <td>Subject Name:</td>

            <td>
                <select th:field="*{subjects}">
                    <option th:value="'1'" th:text="Bac"></option>
                    <option th:value="'2'" th:text="Trung"></option>
                    <option th:value="'3'" th:text="Nam"></option>
                </select>
            </td>

        </tr>


        <tr>
            <td colspan="2">
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
    <span>Select Id Major:</span>
    <span>1:KHMT</span>
    <span>2:KTPM</span>
    <span>5:DDT</span>

    <span></span>


</form>
</body>
</html>